body {
    font-family: 'Lato', sans-serif;
    color:#FFFFFF;
}

.content-form {
    width: 30%;
    margin: 150px auto;
    background: #234465;
    padding: 5px 10px 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #808080,
                5px 5px 10px #6793c1 inset;

}
.currency-value{
    border: none;
    padding: 5px;
    border-radius: 5px;
}
.title{
    text-align:center;
}
.item-currency{
    font-weight: 700;
}
.currency {
    margin: auto;
    padding-bottom: 15px;
}
.items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.primary-btn{
    margin: auto;
    border: none;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #ffa000;
    color: #FFFFFF;
    font-weight:700;
}